.header {
  font-size: 3rem;
  color: var(--forest-green);
  font-weight: 700;
}

.mainContent {
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 3% 3%;
  box-sizing: border-box;
}

.button {
  height: 52px;
  border-radius: 48px;
  background-color: var(--forest-green);
  border: none;
  font-size: 1.75rem;
  font-weight: 600;
  cursor: pointer;
  align-self: flex-start;
  min-width: 182px;
  color: var(--soft-cream);
  font-family: "Fraunces", serif;
  opacity: 0.9;
  transition: all 0.1s ease;
  margin: 2rem 0;
}

.button:hover {
  opacity: 1;
  transition: all 0.1s ease;
}
