:root{
    --background-1: #FFF6FA;
    --background-2: #C8E7FF;
    --background-3: #E4D6FF;

    --primary-1: #FFA6D3;
    --primary-2: #A9D7F6;
    --primary-3: #A7ECC9;

    --accent-1: #FFC8AC;
    --accent-2: #D6B8F2;
    --accent-3: #FFE18D;

    --text-1: #454545;
    --text-2: #899899;

    --border-1: #E9DDFF;
    --border-2: #FFA8D9;

    --font-primary: 'Quicksand', system-ui, sans-serif;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


body, html{
    font-family: 'Quicksand', system-ui, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--background-1);

    user-select: none;
}