.container {

}

.header{
    color: var(--text-1);
    font-size: 64px;

    position: fixed;
    top: 40%;
    left: 20%;
    transform: translate(0, -50%);
}

.subtext{
    color: var(--text-2);
    font-size: 48px;

    position: fixed;
    top: 49%;
    left: 20%;
    transform: translate(0, -50%);
}