.imageContainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.il1 {
  position: fixed;
  top: 0;
  right: 0;
}

.il2 {
  position: fixed;
  top: 0;
  right: 0;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 28%;
  left: 10%;
}

.header {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--linen-cream);
  height: auto;
  gap: 25px;
  width: 460px;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 48px;
}

.label {
  font-size: 1.5rem;
  font-weight: 600;
}

.input {
  height: 52px;
  border-radius: 48px;
  background-color: var(--soft-cream);
  border: none;
  padding: 0 20px;
  font-size: 1.2rem;
  font-family: "Fraunces", serif;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  font-family: "Fraunces", serif;
}

.button {
  height: 52px;
  border-radius: 48px;
  background-color: var(--forest-green);
  border: none;
  font-size: 1.75rem;
  font-weight: 600;
  cursor: pointer;
  align-self: flex-end;
  min-width: 182px;
  color: var(--soft-cream);
  font-family: "Fraunces", serif;
  opacity: 0.9;
  transition: all 0.1s ease;
}

.button:hover {
  opacity: 1;
  transition: all 0.1s ease;
}

.signup {
  margin: 10px 20px;
  font-size: 1.25rem;
  color: var(--text-secondary);
}

.link {
  text-decoration: underline;
  color: var(--text-secondary);
}
