.mainContent {
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 3%;
}

.spacer {
  height: 40vh;
}

.header {
  color: var(--forest-green);
  font-size: 5rem;
  font-weight: 700;
}

.subtext {
  margin: 1rem 0;
  color: var(--text-primary);
  font-size: 1.5rem;
}

.imageContainer {
  overflow: hidden;
  width: 40%;
  height: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
