.mainContent {
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 3% 3%;
  box-sizing: border-box;
  z-index: 50;
}

.mainContent > * {
  z-index: 50;
}

.header {
  font-size: 3rem;
  color: var(--forest-green);
  font-weight: 700;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content > * {
  height: 100%;
  width: 48%;
}

.tasksContainer {
  background-color: var(--linen-cream);
  border-radius: 48px;
  height: 100%;
  width: 50%;
  margin: 5% 0;
  box-sizing: border-box;
}

.taskHeader {
  font-size: 2rem;
  color: var(--forest-green);
  font-weight: 600;
  margin: 3% 5%;
}

.taskItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2% 5%;
  align-items: center;
}

.checkboxChecked {
  width: 40px;
  height: 40px;
}

.checkboxEmpty {
  width: 30px;
  height: 30px;
}

.taskTitleChecked,
.taskTitle {
  font-size: 1.2rem;
  font-weight: 600;
}

.taskTitleChecked {
  color: var(--text-secondary);
  text-decoration: line-through;
}

.taskTitle {
  margin-left: 1.5%;
}

.imageContainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.il1 {
  position: fixed;
  top: 0;
  right: 0;
}

.il2 {
  position: fixed;
  top: 0;
  right: 0;
}