.imageContainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.il1 {
  position: fixed;
  top: 0;
  right: 0;
}

.il2 {
  position: fixed;
  top: 0;
  right: 0;
}

.header {
  font-size: 5rem;
  z-index: 1;
  position: fixed;
  width: 40%;
  top: 25%;
  left: 4%;
  color: var(--forest-green);
  font-weight: 700;
}

.subheader {
  font-size: 2.75rem;
  z-index: 1;
  position: fixed;
  width: auto;
  top: 60%;
  left: 4%;
  color: var(--text-secondary);
  font-weight: 700;
}

.button {
  position: fixed;
  height: 4rem;
  width: 12rem;
  background-color: var(--forest-green);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 48px;
  bottom: 10%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--olive-shadow);
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  scale: 1.05;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
